@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 1.1em;
}

html {
    list-style-type: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "SanofiSans-Regular", sans-serif;
}

body {
    display: flex;
    align-items: center

}


.like-container {
    height: 2em;
    max-width: 40em; /* Maximale breedte in em */
    min-width: 24em; /* Minimale breedte in em */
    width: 100%; /* Neem de volledige beschikbare breedte in */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #7b00e6;
    border-radius: 20px;
    transform-origin: top left;
    transform: scale(0.75);
    transition: transform 0.3s; /* Voeg een overgang toe voor een vloeiende schaalverandering */
}

h2 {
    color: #fff;
}

.like-text {
    font-size: 1.1em;
    color: #fff;
}

#like-count {
    font-size: 1.2em;
    color: #fff;
}

#like-button {
    width: 90px;
    height: 115px;
    border: none;
    position: relative;
    background: none;
}

#like-button:before,
#like-button:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: white;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
    scale: 0.5;
}

#like-button:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

#like-button.liked:before,
#like-button.liked:after {
    background: rgba(72, 50, 133, 1) !important;
}

#text {
    font-size: 1px;
}