html {
    list-style-type: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #FAF1E4;
}

.like-container {
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content:center;
    gap: 1em;
}

#like-button {
    background-color: #9EB384;
    border: none;
    cursor: pointer;
    color: #435334;
    width: 10em;
    border-radius: 10px;
    height: 3em;
    transition: transform 0.3s ease;
}

#like-button:hover {
transform: scale(1.2);
}

#like-count{
    font-size: 2em;
color: #9EB384;
}