<!DOCTYPE html>
<html>
<head>
    <title>Like Feature</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
    <div class="like-container">
        <button id="like-button" class="{{#if liked}}liked{{/if}}">{{#if liked}}Unlike{{else}}Like{{/if}}</button>
        <span id="like-count">{{likeCount}}</span>
    </div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="js/script.js"></script>

</html>